.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 40px;
    font-size: 22px; /* Increased size */
  }
  
  .title {
    font-weight: bold;
    color: teal;
    font-size: 28px; /* Increased size */
  }
  
  .menu a {
    color: teal;
    text-decoration: none;
    margin: 0 15px;
    font-size: 22px; /* Increased size */
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  